@import "partials/reset";

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: dimgrey;
}

.row{
  max-width: 1200px;
}

@import "partials/_Section1";
@import "partials/_Section2";
@import "partials/_Section3";
@import "partials/_Section4";
@import "partials/_Section5";
@import "partials/_Section6";
@import "partials/_Section7a";
@import "partials/_Section7b";
@import "partials/_Section7b1";
@import "partials/_Section7b2";
