@import "partials/reset";

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  max-width: 1200px;
  color: dimgrey;
}

@import "partials/_Section1";
@import "partials/_Section2";
@import "partials/_Section3";
@import "partials/_Section4";
@import "partials/_Section5";
@import "partials/_Section6";