.main_config_s1{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./../images/header_start_img.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  .menu_display_style{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    width: 50%;
    height: 12%;
    margin-top: 2em;
    .position{
      display: flex;
      width: 95%;
      justify-content: flex-end;
    }
    .log_reg{
      button{
        padding: 5px 10px;
        background: transparent;
        border: none;
        cursor: pointer;
      }
      button:hover{
        border: 1px solid goldenrod;
      }
      button:focus{
        outline: none;
      }
    }
    .menu{
      justify-content: space-between;
      li{
        padding: 10px 15px;
        cursor: pointer;
      }
      li:hover{
        border: 1px solid darkgrey;
      }
    }
  }

  .slogan_options_display_style{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 15vh;
    right: 0;
    width: 40%;
    height: 50%;
  }

    .slogan{
      text-align: center;
      h1{
        font-size: 1.7em;
        font-weight: 100;

        line-height: 1.3em;
      }
      img{
        margin-top: 20px;
        max-width: 40%;
      }
    }
    .options{
      display: flex;
      justify-content: space-between;
      height: 30%;
      width: 100%;
      button{
        border: 1px solid darkgrey;
        font-size: 1.5em;
        height: 100%;
        width: 45%;
        cursor: pointer;
      }
  }
}

