.s7b2_display_style{
  width: 100vw;
  height: 80vh;
  border: 1px solid black;
  background-image: url("../images/misie.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}